<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="icon" href="https://d2aq6dqxahe4ka.cloudfront.net/assets/uploads/beneficiary/-2069379359625602049.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
     
     
 
#slideshow img {display: none;}
img{
height:150px;
width:200px;
}
h1{
font-size:40px;
font-family:"cooper";
}
a{
color:black;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
      input[type=submit]:hover {
  background-color: #45a049;
}
 button{
padding:10px;
font-family:"cooper";
font-size:16px;
}     
 table, tr, td{
     border:1px solid black;
 } 
 div.vol{
   display:none;
 }
 div.mem{
   display:none;
 }
 .logo{
  width:200px;
  height:200px;
  border-radius: 50%;
  position:relative;
  margin-top:-125px;
  border: 5px solid grey;
 }
 @media only screen and (max-width:500px) {
  .logo {
    width: 130px;
    height: 130px;
    position: relative;
    margin-top: -80px;
  }
  .shutup{
    font-size: 25px;
  }
  .shutup1{
    font-size:18px;
 text-align:center;
  }
  .form{
    width:70%;
    display:block;
  }
  input{
    width:inherit;

  }
  textarea{
    width:inherit;
  }
#one{
  

}
 }
 .form{
   width:70%;
   height:200px;
 }
 @media(min-width:576px){
	.callme{
	  display:none;
	}
  }
  @media(max-width: 420px){
      
      #changes{
        font-size:14px;
      }
      #changes img{
        width:20px;
        height:20px;
      }
    }
    @media(max-width: 374px){
      
      #changes{
        font-size:12px;
      }
      #changes img{
        width:15px;
        height:15px;
      }
    }
    @media(max-width: 354px){
      
      #changes{
        font-size:10px;
      }
      #changes img{
        width:10px;
        height:10px;
      }
    }

</style>
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5ef3a6c5a922da001296fc82&product=inline-share-buttons" async="async"></script>
  </head>
  <body style="background-image: url('https://raw.githubusercontent.com/saiyamjindal/shuddhinew/master/public/images/backlogin5.jpg');">
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-flex" href="https://www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )" target="_blank"></a>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand " style="align-items: center;"><a href="#"><img class="brand-logo-light" src="/images/Shuddhi Mail LOGO.jpg.png" alt="" width="207" height="51"/></a></div>
                  <div class="callme">
                    <button style="background:white;border:white;box-shadow:white;"></button> 
                    <button style="background:white;color:white; border: none;"><a href="tel:011-41253951" id="changes" style="float:right;color:white"><img src="https://vision.org.au/campaigns/wp-content/uploads/sites/13/2018/09/mobile-icon.png" width="30px" height="30px"></a></button>
                    
                    <button style="background:white;color:white; border: none;"><a href="https://wa.me/911141253951" id="changes" target="_blank" style="float:right;color:white;"><img src="https://banner2.kisspng.com/20180511/agq/kisspng-whatsapp-logo-computer-icons-5af5a9591ee442.6188279815260491131265.jpg" width="32px" height="32px"></a></button>
                    </div>
                </div>
                <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                      <!-- RD Navbar Nav-->
                      <a class="button button-primary button-sm" href='/main/logout'>LOGOUT</a>
                    </div>
                  </div><a class="button button-primary button-sm" href='/main/logout'>LOGOUT</a>
                
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="parallax-container" data-parallax-img="https://images.unsplash.com/photo-1546865892-a9de1f73692e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2009&q=80">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title" style="font-family: initial">DASHBOARD</h2>
               
              </div>
            </div>
          </div>
        </div>
      </section>
    </br>
   <!--  <button onclick ="location.href= '/main/member'" type="button">Member</button>
      <button onclick ="location.href= '/main/volunteer'"  type="button">Volunteer</button> -->
      <div align="center">
        <img src="<%= user.logo %>" class="logo" style="" />
      </br><a href="/main/imageupload" style="font-size: 1.5rem;font-family: initial"> Upload Logo </a>
      </br> <h1 class="shutup" style="font-family: initial"> <%= user.name %> </h1>
    
    
      <div style="float: center; display: none;" class="vol"><a class="button button-primary button-sm vol"  href="/main/member" style="width: 30%; font-size: 15px;">Join as a Volunteer</a></div>
     <br> <div style="float: center;display:none;" class="mem"><a class="button button-primary button-sm mem" href="/main/volunteer" style="width: 30%; font-size: 15px; background-color: #0574eb;">Join as a Member</a></div>  
     <br> <div  style="float: center;display:none;" class="mem1"><a class="button button-primary button-sm mem" href="/main/mem" style="width: 30%; font-size: 15px; background-color: #0574eb;">Join as a Member</a></div>      
      <div style="float: center;display:none;" class="mem2"><a href = "/uploads/<%=user.certimem%>"type = "application/pdf"target = "_blank">Membership certificate</a></div>   
    </div>
<script>
  if("<%= user.t %>"=="D"){
    $("div.vol").show();
    $("div.mem").show();
  } 
  if("<%= user.t %>" =="V"){
    $("div.mem1").show();
  }
  if("<%= user.t %>" =="M"){
    $("div.mem2").show();
  }
</script>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100"></br>
        <div class="contain" align="center" >
         
       <h5 class="shutup1" style="font-family: initial">Your Personalised Link - localhost:3000/main/donateforcause/<%= user._id %></h5>  <br><br>
  <h1 style="font-family: initial">Add Your Work</h1>
    <form method="post" class="form" style="border:2px solid black;padding:10px;background: url('https://raw.githubusercontent.com/saiyamjindal/shuddhinew/master/public/images/backlogin1.jpeg');">
      
        <input name="heading" placeholder="HEADING" required style="border-radius: 5px; width: inherit;"/>
    </br></br>
        <textarea style="height:100px;width:inherit;border-radius: 5px;" name="content" placeholder="CONTENT" required ></textarea></br>
        <button style="background: #0574eb ;color: black; border-radius: 1rem; width: 7rem;">
            Submit
        </button>
        
      </br></br>
    
    </form>
  </div>
</br></br></br>
<div class="contain" align="center">
<div id="one" style="border:2px solid black;width:80%;margin:1%;height:300px;padding:25px;background: url('https://raw.githubusercontent.com/saiyamjindal/shuddhinew/master/public/images/backlogin1.jpeg');overflow-y:auto;">
    <h1 style="font-family: initial">Donations</h1>
    <table style="width:auto;border: 1px solid black;" class="table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% for(var i = 0; i < recs.length; i++) { %>
        <tr>
            <td align="center"></td>
            <td style="color :black;border:1px solid black;width:30rem" align="center">
                </br>
                <a href = "/uploads/<%=recs[i].receipt%>" type = "application/pdf"target = "_blank">View PDF</a>
                </br>
                 Date : <%= recs[i].date %>
            </td>
        </tr>
        <% } %>
    </table>
   </div>
   </div>
  </br>
  <div class="contain" align="center"> 
<div id="one" style="border:2px solid black;width:80%;margin:1%;height:300px;padding:25px;background: url('https://raw.githubusercontent.com/saiyamjindal/shuddhinew/master/public/images/backlogin1.jpeg');overflow-y:auto;">
<h1 style="font-family: initial">Your Works</h1>  

    <table style="width:auto;border: 1px solid black;" class="table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% for(var i = 0; i < blogs.length; i++) { %>
        <tr>
            <td></td>
            <td style="color :black;width:30rem;border: 1px solid black;" align="center;font-family: initial; height: 1rem; font-weight: 600;"><%=blogs[i].heading %>
                </br>
                </br>
               <div style="font-family: initial; height: 1rem; font-weight: 600;"> <%=blogs[i].content %> </div>
            </td>
        </tr>
        <% } %>
    </table>
        </div>
        </div>
</br></br></br>
<div class="contain" align="center">
<h1>
<a href="/main/manyimagesupload" style="font-family: initial"> Upload Images </a></h1>
<div id="crossfade">
<div id="slideshow_images" style="display:none;">
<% for(var i = 0; i < user.images.length; i++) { %>
  <img src="<%= user.images[i] %>" style="height:100px;width:100px" />
  <% } %>
</div>
<div id="slideshow"></div>
</div>

<script>
function slideShow(currentSlide){
// speed at which the slides change in miliseconds (1000 = 1sec)
// must not exceed total time for the fade in/out animations
var duration = 4000; 
// how many slides to show at a time?
var slidesPerShow = 3;
// count the number of slides (imgs)
slideCount = $( "#slideshow_images" ).children().length;
// Array of next slides to be displayed
slidesToShow = [];
// add the defined number of slides "slidesPerShow" to the slidesToShow array
var times = slidesPerShow;
for(var i=0; i < times; i++){
slidesToShow.push(currentSlide+i+1);
}
// set slides array
slides = [];
// add each slide to the slides array
$.each( slidesToShow, function( i, val ) {
      slide = $( "#slideshow_images img:nth-child(" + val + ")" ).clone();
  slides.push(slide);
});
// provided the current slideshow is not empty
// fade out its contents, replace it with new slides and fade back in.
if ( $("#slideshow").children().length > 0 ) {
$("#slideshow").children().fadeOut("slow", function(){
  $("#slideshow").empty().append(slides)
  $("#slideshow").children().fadeIn(1000);
});
}
// otherwise, if the current slideshow is empty
// just load the slides straight away. 
else {
  $("#slideshow").append(slides);
$("#slideshow").children().fadeIn(0);
}
// set the current slide to the last slide shown or 0 if max slide count reached
slidesToShow[(slidesPerShow-1)] >= slideCount ? currentSlide = 0 : currentSlide = slidesToShow[(slidesPerShow-1)];
// repeat after set time (set the duration at the top of function)
setTimeout( function(){ 
  slideShow(currentSlide);
}  , duration );
}
// call the slideshow
slideShow(0);
</script>
</div>
</div>
</div>
</div>
</div>
 <footer class="section footer-minimal context-dark">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
              <div class="col-12"><a href="index.html"><img src="/images/Shuddhifooter.png" alt="" width="207" height="51" /></a></div>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a href="about-us (1).html">About Us</a></li>
                  <!--<li><a href="/causes">Causes</a></li>-->
                  <li><a href="Untitled-1.html">Gallery</a></li>
                
                  <li><a href="contacts.html">Contacts</a></li>
                  <li><a href="https://shuddhi.org/index.html">Old Website</a></li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="https://www.facebook.com/shuddhi.org"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="https://www.instagram.com/ngoshuddhi/"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="https://twitter.com/ngoshuddhi"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="https://www.youtube.com/ShuddhiNGO"></a></li>
                 
                </ul>
              </div>
            </div><br>
            <center><div>Share this page to:</div></center><br>
            <div class="sharethis-inline-share-buttons"></div>
           
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/javascripts/core.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
